/* Global Mixins */

/* With */
@mixin fullWidth {
    width: 100%;
}

/* Positions */
@mixin stickyPosition {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

/* Containers */
@mixin fullContainer {
    width: 100%;
    height: 100vh;
}

/* Flexbox */
@mixin flexHorizontalCenter {
    display: flex;
    justify-content: center;
}

@mixin flexHorizontalStart {
    display: flex;
    justify-content: start;
}

@mixin flexCenterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Grid */
@mixin gridCenterContainer {
    display: grid;
    place-items: center;
}

@mixin gridContainer1Fr {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}

@mixin gridRepeatContainer($gap: 0, $templateColumn: 1fr) {
    display: grid;
    gap: $gap;
    grid-template-columns: $templateColumn;
}

/* Images */
@mixin responsiveImage {
    width: 100%;
    margin: auto;
    object-fit: cover;
}

/* Cards */
@mixin cardType1 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    -webkit-border-radius: $formContainerBorderRadius;
    -moz-border-radius: $formContainerBorderRadius;
    border-radius: $formContainerBorderRadius;
}

/* Media queries */
@mixin media-min($breakpoint) {
    @media screen and (min-width: $breakpoint) {
        @content;
    } 
}

@mixin media-max($breakpoint) {
    @media screen and (max-width: $breakpoint) {
        @content;
    }
}

@mixin media-between($minBreakpoint, $maxBreakpoint) {
    @media screen and (min-width: $minBreakpoint) and (max-width: $maxBreakpoint) {
        @content;
    }
}
